.place__image {
    padding: 26px 0 0 0;
    max-width: 460px;
    max-height: 460px;
    width: 100%;
    grid-row-start: 2;
    grid-row-end: 5;
}

@media screen and (max-width:1100px) {
    .place__image {
        max-width: 440px;
        max-height: 440px;
    }
}

@media screen and (max-width:1023px) {
    .place__image {
        max-width: 340px;
        max-height: 340px;
    }
}

@media screen and (max-width: 400px) {
    .place__image {
        padding: 32px 0 7px 0;
        max-width: 320px;
        max-height: 320px;
    }
}